<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Drag n Drop N Week Menu Planner</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="/stylesheets/scriptaculous.css" media="screen" rel="Stylesheet" type="text/css" />
  <script src="/javascripts/prototype.js" type="text/javascript"></script>
  <script src="/javascripts/effects.js" type="text/javascript"></script>
  <script src="/javascripts/dragdrop.js" type="text/javascript"></script>
  <script src="/javascripts/controls.js" type="text/javascript"></script>
  <style type="text/css">
    div.auto_complete {
      position:absolute;
      width:250px;
      background-color:white;
      border:1px solid #888;
      margin:0px;
      padding:0px;
    }
    ul.contacts  {
      list-style-type: none;
      margin:0px;
      padding:0px;
    }
    ul.contacts li.selected { background-color: #ffb; }
    li.contact {
      list-style-type: none;
      display:block;
      margin:0;
      padding:2px;
      height:32px;
    }
    li.contact div.image {
      float:left;
      width:32px;
      height:32px;
      margin-right:8px;
    }
    li.contact div.name {
      font-weight:bold;
      font-size:12px;
      line-height:1.2em;
    }
    li.contact div.email {
      font-size:10px;
      color:#888;
    }
    #list {
      margin:0;
      margin-top:10px;
      padding:0;
      list-style-type: none;
      width:250px;
    }
    #list li {
      margin:0;
      margin-bottom:4px;
      padding:5px;
      border:1px solid #888;
      cursor:move;
    }
    
    th.day_of_week_name {
      border: 1px dashed purple;
    }
    
    li.day_of_week {
      display: inline;
      /* both of padding and margin left needed for cross-browser non-indenting of lists */
      /*
      margin-left: 0px;
      padding-left: 0px;  
      */
      margin-right: 10px;
    }
    
    ul.days_of_week {
      list-style-type: none;  
      /* both of padding and margin left needed for cross-browser non-indenting of lists */
      margin-left: 0px;
      padding-left: 0px;  
      border: 1px dotted orange;
    }

    .meal_menu {
      border: 1px solid orange;
      cursor:move;
      margin-top: 4px;
      margin-bottom: 4px;
    }
    
    .scheduled_meal, .scheduled_meal-active {
      border: 1px solid orange;
      margin-top: 4px;
      margin-bottom: 4px;
    }
    
    .scheduled_meal-active {
      background: yellow;
    }
    /*
    h4 {
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
    */
  </style>
</head>
<body>
  
<div id="content" style="/* background: orange */">


<h1>Drag and drop multiweek menu planning</h1>

<p>Drag meal menus to the day and meal time when you wish to serve them.  Simple as that.  Your multi-week menu will be saved in the background.  </p>

<h2>Available meal menus:</h2>

Search form would be great here - maybe left column for search form and then right column for search results.  Add a check box that returns all the search results.

<table style="margin-left: 10px;">
<tr>
 <% i = 0 %>
 <% for single_meal_menu in @single_meal_menus do %> 
  <td>
   <div style="position: relative; z-index: 0; opacity: 0.99999; top: 0px; left: 0px;" class="meal_menu" id="meal_menu_<%= single_meal_menu.id %>" >
    <%= "Meal Menu ##{single_meal_menu.id}: (" + single_meal_menu.recipes.collect { |r| r.name }.join(", ") + ")" %>
   </div>
  </td>
  <script type="text/javascript">new Draggable('meal_menu_<%= single_meal_menu.id %>', {revert:true})</script>
   <% i += 1 %>
 <% end %>
</tr> 
</table>


<!--
<p id="error">
This is where the link_to_remote error would show up.
</p>
-->

<div style="height: 40px; padding-top: 10px;">
<p id="indicator" style="margin-top: 0px; display: none;">
  <img alt="Indicator" src="/images/indicator.gif"> Performing action in the background...
</p>
</div>

<h2>Multi Week Menu</h2>
<br />

<!--
I think I'd rather do the GMail interface on the email messages where clicking on them makes them visible.  A show all/hide all link would also be good.
<table>
  <tr>
   <% for i in 1..6 do %> 
    <th>Week #<%= i %></th>
   <% end %> 
    <th>Show All</th>
    <th>Show None Link</th>
  </tr>
  <tr>
   <% for i in 1..6 do %> 
    <th>Show/Hide link</th>
   <% end %> 
    <th>Show</th>
    <th>None</th>
  </tr>
</table>
-->

<% for week_number in @weeks.keys.sort do %>
<% week = @weeks[week_number]  %>
<div id="weekly_menu_number_<%= week_number %>_container" style="/* border: 1px solid black; */ /* margin-top: 0px; padding-top: 0px; */ ">
  <a href="javascript:void(0)" onclick="Element.toggle('weekly_menu_number_<%= week_number %>'); Element.toggle('weekly_menu_number_hide_<%= week_number %>'); Element.toggle('weekly_menu_number_show_<%= week_number %>'); ">
    <h4 id="weekly_menu_number_<%= week_number %>_h" style="/* background: yellow; */ margin-top: 0px; margin-bottom: 0px; margin-bottom: 0px; padding-bottom: 0px;">Week number <%= week_number %>: 
      <span id="weekly_menu_number_hide_<%= week_number %>">Hide</span>
      <span style="display: none" id="weekly_menu_number_show_<%= week_number %>">Show</span>
    </h4>
  </a>
  <div align="center" id="weekly_menu_number_<%= week_number %>" class="" style="clear: left; /*height: 132px;*/ position: relative; /* border: 3px solid green */; /* background: teal; */">  
    <table style="/*width: 100%;*/ margin-bottom: 0px; padding-bottom: 0px;">
    <tr>
      <th class="day_of_week_name">Meal</th>
      <% for day_of_week_number in @day_of_week_numbers do %>
       <th class="day_of_week_name"><%= @day_of_week_names[day_of_week_number] %></th>
      <% end %>
    </tr>
    <% for @meal_of_day_number in @meal_of_day_numbers do %> <!-- This should really be a @n_week_menu field - how many meals_per_day -->
    <tr>
     <td style="border: 1px dotted red; width: 14%;"><span style="font-weight: bold; color: green;"><%= @meal_times[@meal_of_day_number - 1]  %>:  <%= @meal_names[@meal_of_day_number - 1]  %></span><br />
     </td>
     <% for day_of_week_number in @day_of_week_numbers do %>
	<% @sdm_id = week[day_of_week_number].single_day_menu_id.to_i %>
      <td id="single_day_menu_id_<%= @sdm_id %>_meal_of_day_number_<%= @meal_of_day_number %>" class="scheduled_meal" style="border: 1px dotted red; width: 10%;">
	<% if @recipes_by_day[ @sdm_id ].nil? || @recipes_by_day[@sdm_id][@meal_of_day_number].empty? %>
	  Drop meal here!
	  &nbsp;<!-- nbsp is to reserve space for the remove link-->
	  <br />
	<% else %>
	  <% @smm_id = @recipes_by_day[@sdm_id][@meal_of_day_number].first.single_meal_menu_id.to_i %>
	  <% @sdm_smm_id = @recipes_by_day[@sdm_id][@meal_of_day_number].first.sdm_smm_id.to_i %>
	  <%= render_partial 'meal_menu' %>
	<% end %>	
       </td> 
      <% end %>
    </tr>
    <% end %>
    </table>
    <br />
  </div>  
    
</div>
<% end %>

</div>

<script type="text/javascript">
<% for week_number in @weeks.keys.sort do %>
  <% week = @weeks[week_number]  %>
  <% for day_of_week_number in @day_of_week_numbers do %>
    <% for meal_of_day_number in @meal_of_day_numbers do %>
      Droppables.add('single_day_menu_id_<%= week[day_of_week_number].single_day_menu_id %>_meal_of_day_number_<%= meal_of_day_number %>', {accept:'meal_menu', onDrop:function(element){ 
	//alert('<%= "Meal scheduled for #{@day_of_week_names[day_of_week_number]} at #{@meal_times[meal_of_day_number - 1]} for meal #{@meal_names[meal_of_day_number - 1]}" %>'); 
      new Ajax.Updater('single_day_menu_id_<%= week[day_of_week_number].single_day_menu_id %>_meal_of_day_number_<%= meal_of_day_number %>', '/menu_planner/schedule_meal_week_day_and_time', {onLoading:function(request) { Element.show('indicator') }, onComplete:function(request) { Element.hide('indicator') }, parameters:'single_day_menu_id=<%= week[day_of_week_number].single_day_menu_id %>&single_meal_menu_html_id=' + encodeURIComponent(element.id) + '&meal_of_day_number=<%= meal_of_day_number %>' , evalScripts:true, asynchronous:true});
	},
      hoverclass:'scheduled_meal-active'});
    <% end %>
  <% end %>
<% end %>
</script>
</body>
</html>
